<div class="router-switch">
	<button routerLink="/simple"
   routerLinkActive = "router-switch__btn--active"
  class="router-switch__btn"
  >Simple Demo </button>
	<button routerLink="/advanced"
    class="router-switch__btn"
    routerLinkActive = "router-switch__btn--active"
   > Advanced Demo </button>

   	<button routerLink="/edit-mode"
    class="router-switch__btn"
    routerLinkActive = "router-switch__btn--active"
   > Edit mode </button>
</div>

<router-outlet> </router-outlet>
<about-author></about-author>