<a class="item-wrapper" href="http://vugar005.github.io/" target="_blank">
	<div class="website-icon">
		<i class="fas fa-blog"></i>
	</div>
	<p>Personal Website</p>
</a>

<a class="item-wrapper" href="https://twitter.com/Vugar005" target="_blank">
	<div class="twitter-icon">
		<i class="fab fa-twitter"></i>
	</div>
	<p>Follow me @Vugar005 </p>
</a>

<a class="item-wrapper" href="https://github.com/vugar005/ngx-awesome-uploader" target="_blank">
	<div class="star-icon">
		<i class="fas fa-star"></i>
	</div>
	<p>Please star if you liked it :)</p>
</a>